nav {
    background-color: #333; 
    padding: 10px 0; 
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px; 
    margin: 0 auto; 
  }
    
  .logo {
    width: 150px; 
    height: auto; 
    margin-left: 150px;
    }
  
    .menu {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    .menu li {
      display: inline-block;
      margin-right: 80px;
    }
  
    .menu a {
      color: #fff; 
      font-family: sans-serif; 
      text-decoration: none;
    }
    
    nav a {
      color: #fff; 
      font-family: sans-serif;
      text-decoration: none;
      transition: color 0.3s ease; 
      font-size: 25px; 
      margin-right: 25px;
    }
    
    nav a:hover {
      color: #ff6961; 
    }

    .footer {
        background-color: #333; 
        padding: 20px; 
      }
      
      .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .img-footer {
        max-width: 150px; 
      }
      
      .social-links {
        display: flex;
        align-items: center;
      }
      
      .social-links p {
        margin-right: 10px; 
        
      }
      
      .elementos-footer {
        margin-right: 10px; 
        font-size: 30px;
      }
      
      .me-1 {
        width: 30px; 
        height: 30px;
      }
      
      .siga-nos {
        font-size: 40px; 
        margin-right: 10px; 
        font-family: 'Courier New', Courier, monospace;
        color: white;
      }

      #btnTopo {
        display: none; 
        position: fixed; 
        bottom: 80px;
        right: 30px;
        z-index: 99; 
        border: none;
        outline: none;
        background-color: #007bff; 
        color: white;
        cursor: pointer;
        width: 50px; 
        height: 50px; 
        border-radius: 50%; 
        font-size: 18px;
        text-align: center; 
        line-height: 50px; 
        font-size: 30px;
    }

    .news-article {
      background-color: #b2b2b2;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 30px;
      width: calc(50% - 20px); 
      box-sizing: border-box; 
      
  }

  .news-article:last-child {
    margin-right: 0; 
}

  .news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

  
  .news-article img {
      width: 100%;
      height: auto;
  }
  
  .article-content {
      padding: 20px;
  }
  
  .article-content h2 {
      color: #333;
      margin-bottom: 10px;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  
  .article-content p {
      color: #666;
      margin-bottom: 20px;
  }
  
  .article-content a {
      text-decoration: none;
      color: #007bff;
      font-weight: bold;
  }
  
  .article-content a:hover {
      text-decoration: underline;
  }

  .container-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px; 
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }


  