

body{
    background-color: #000;
    color: white;
  }
  
  
  nav {
    background-color: #333; 
    padding: 10px 0;
    
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px; 
    margin: 0 auto; 
  }
  
  .logo {
    width: 150px; 
    height: auto; 
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu a {
    color: #fff; 
    font-family: sans-serif; 
    text-decoration: none;
  }
  
  nav a {
    color: #fff; 
    font-family: sans-serif;
    text-decoration: none;
    transition: color 0.3s ease; 
    font-size: 25px; 
    margin-right: 25px;
  }
  
  nav a:hover {
    color: #ff6961; 
  }
  
  .boas-vindas {
    background-color: #000;
    color: white;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    margin-top: 60px;
  }
  
  .boas-vindas h1 {
    font-size: 50px; 
    margin-bottom: 15px; 
  }
  
  .boas-vindas h3 {
    font-size: 30px; 
  }
  
  .highlight {
    color: #ed1111;
    font-size: 35px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .highlight:hover {
    color: #fff; 
    text-decoration: none; 
  }

  .escalacao{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
  }
  
  .campinho{
    max-width: 1000px;
    height: auto;
  }

  .escudo1 {
   max-width: 100%;
   height: 300px;
   margin-left: 270px;
  }

  .escudos {
    margin-top: 60px;
  }



  .plantel p  {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
  }

  tr.hide-row {
    display: none;
  }



.centralizar-botao {
  display: block;
  margin: 20px auto;
  text-align: center;
  height: 50px;
  width: 150px;
}

#btnTopo {
  display: none; 
  position: fixed; 
  bottom: 80px;
  right: 30px;
  z-index: 99; 
  border: none;
  outline: none;
  background-color: #007bff; 
  color: white;
  cursor: pointer;
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  font-size: 30px;
  text-align: center; 
  line-height: 50px; 
}

.resultados p {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 130px;
  font-size: 50px;
}

.img-resultados {
  margin-left: 335px;
  height: 500px;
}

.prox-partidas p{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 130px;
  font-size: 50px;
}

.img-prox-partidas {
  margin-left: 335px;
  height: 500px;
}

.classificacao p {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 130px;
  font-size: 50px;
}

.classificacao tbody tr:nth-child(13) {
  background-color: yellow;
}

.uniforme p{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 180px;
  font-size: 50px;
}



.uniformeImage{
  margin-left: 320px;
  height: 500px;
}
  
.uniformeButtons{
  margin-top: -200px;
  margin-bottom: 100px;
}
  
.estadio p {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
} 



.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin-top: 10px;
}

.video-container video {
  max-width: 100%; 
  max-height: 100%; 
  width: 1000px; 
  height: 1000px; 
}

.footer {
  background-color: #333; 
  padding: 20px; 
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-footer {
  max-width: 150px; 
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links p {
  margin-left: -30px;
  
}

.elementos-footer {
  margin-right: 10px; 
  font-size: 30px;
}

.me-1 {
  width: 30px; 
  height: 30px;
}

.siga-nos {
  font-size: 40px; 
  margin-right: 10px; 
  font-family: 'Courier New', Courier, monospace;
}

.map-box {
  width: 100%;
  height: 300px;
  background: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
   
}

 .map-box iframe {
  width: 100%;
  height: 100%;
 } 
  